<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <context-param>
    <param-name>dburl</param-name>
    <param-value>jdbc:mysql://localhost:3306/travel</param-value>
  </context-param>
  <context-param>
    <param-name>dbuname</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbpass</param-name>
    <param-value></param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>flight</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>flight</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
